body {
	margin-top: 0px;
}

.block {
    background-repeat: no-repeat;
    background-position: center;
}

#block01 {
 	height: 90px;
 	background-image: url('images/image_header.png');
 }

 #block02 {
 	height: 40px;
 	background-color: rgb(250, 249, 247);
 	background-image: url('images/image_navigation.png');
 }

#block03 {
	height: 699px;
	background-color: rgb(234, 233, 231);
	background-image: url('images/image_welcome.png');
}

#block04 {
	height: 965px;
	background-image: url('images/image_map.png');
}

#block05 {
	height: 1023px;
	background-color: rgb(234, 233, 231);
	background-image: url('images/image_events.png');
}

#block06 {
	height: 113px;
	background-color: rgb(250, 249, 247);
	background-image: url('images/image_footer.png');
}
