body {
	width: 1040px;
	margin: 0 auto;
}

.block {
    background-repeat: no-repeat;
    background-position: center;
}

.block01 {
	height: 90px;
	background-image: url('images/Special-Portal_04.png');
}

.block02 {
	height: 739px;
	background-color: rgb(234, 233, 231);
	background-image: url('images/Special-Portal_06.png');
}

.block03 {
	margin-top: 60px;
	padding: 0 20px;
	height: 775px;
	/*background-image: url('images/Special-Portal_07.png'); */
}
.section-header {
	font-family: "Roboto Reg", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 32px;
	text-align: center;
}

.section-footer {
	font-family: "Roboto Reg", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 130px;
	height: 130px;

}

.block04 {
	height: 984px;
	background-color: rgb(234, 233, 231);
	background-image: url('images/Special-Portal_08.png');
}

.block05 {
	height: 573px;
	background-image: url('images/Special-Portal_09.png');
}

.block06 {
	height: 131px;
	background-color: rgb(234, 233, 231);
	background-image: url('images/Special-Portal_10.png');
}
