.specialist-info-list-elements-wrapper {
  flex-direction: column;
  font-family: 'Roboto', serif;
  position: relative;
  width: 300px;
  z-index: 1;
  height: 500px;
  background-color: #eae9e7;
  -webkit-box-shadow: 5px 0 5px -2px rgba(0,0,0,0.1);
  box-shadow: 5px 0 5px -2px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.specialist-info-visit-elements-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Roboto', serif;
  position: relative;
  width: 300px;
  z-index: 1;
  min-height: 400px;
  background-color: #eae9e7;
  -webkit-box-shadow: 5px 0 5px -2px rgba(0,0,0,0.1);
  box-shadow: 5px 0 5px -2px rgba(0,0,0,0.1);
  overflow-y: auto;
  -webkit-align-items: center;
  align-items: center;
}

.specialist-info-details-button {
  color: #008e98;
  cursor: pointer;
}

.specialist-info-visit-element {
  padding-bottom: 10px;
  font-size: 14px;
  width: 270px;
  font-weight: 700;
  &> span {
    display: block;
  }
  &> .recommend-button {
    background-color: #008e98;
    color: #FFF;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      background-color: darken(#008e98, 5%);
    }
  }
}
.specialist-info-visit-element-title {
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.specialist-info-visit-element-header {
  font-weight: 700;
  width: 270px;
  font-size: 22px;
  margin-bottom: 20px;
}

.specialist-info-list-element {
  &:hover {
    cursor: pointer;
    background-color: #f2f1f0;
  }
  padding: 10px 10px 0 10px;
  min-height: 95px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.specialist-info-list-element-label {
  & > b {
    color: #000;
  }
}

.map-component-wrapper {
  position: relative;
  display: inline-flex;
  flex: 1;
}

.specialist-info-list-bottom-border {
  border-bottom: 1px solid #FFFFFF;
  width: 270px;
  margin: 0 auto;
}

.exit-arrow-container {
  margin-right: 10px;
  display: inline-block;
  background-color: transparent;
  width: 20px;
  height: 20px;
}
.exit-arrow-text {
  color: #008e98;
}

.exit-arrow-wrapper {
  cursor: pointer;
  width: 270px;
  display: flex;
  min-height: 60px;
  flex: 1;
  -webkit-align-items: center;
  align-items: center;
}

.exit-arrow-icon {
  display: inline-block;
  background-color: #008e98;
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("./left-arrow.svg");;
  mask-image: url("./left-arrow.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 20px 20px;
  mask-size: 20px 20px;
}

.specialist-info-visit-element-update {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: rgb(102, 102, 102);
  &> span {
    display: inline-block;
    min-height: 20px;
  }
}

.specialist-info-visit-element-recommended {
  &> span {
    display: inline-block;
    min-height: 20px;
  }
  display: flex;
  flex-direction: column;
}

.inline-flex {
  max-height: 45px;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  justify-content: space-between;
}
.people-recommended {
  cursor: pointer;
  border-bottom: 1px dashed #000;
  &:hover {

  }
}
.regular-font-weight {
  font-weight: 400;
}